//----Color-----------
$color-white: #fff;
$color-black:#000;
$color-orange: #ff4040;
$color-blue-100:#007cc3;
$color-blue-200:#2198dc;
$color-dark-blue-100: #00446a;
$color-dark-blue-200: #00324f;

//---------Font------------
$font-size-html: 16px;
$font-size-1: 1.4rem;
$font-size-2: 1.8rem;
$font-size-3: 6rem;
$font-weight-bold:bold;
$font-weight-normal:normal;
$font-weight-300: 300;

//------Padding------------
$pd-1:6px;
$pd-2:15px;
$pd-3:20px;
$pd-4:25px;
$pd-5:30px;
$pd-6:50px;

//-----Margin-----------
$mg-up: -200px;
$mg-1:20px;
$mg-2:30px;
$mg-3:45px;
$mg-4:60px;
$mg-5:100px;

//----Border-------
$border-1: 1px solid #4f91ca;


