<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web hoc online</title>
</head>
<body>
  
<header id="header">
<!-- NavBar --> 
  <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand no-border" href="index.html">
        <img src="../assets/img/logo.png" alt="">
      </a>
      <a href="#">VEHICLES <i class="fa fa-angle-down"></i></a>
      <a href="#">SHOPPING TOOLS <i class="fa fa-angle-down"></i></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="header-right ml-auto d-flex align-items-center">
          <a href="#" class="no-border"><i class="fa fa-map-marker"></i> Dealers</a>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link no-border" href="#">Owners <i class="fa fa-angle-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link no-border" href="#">Discover <i class="fa fa-angle-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">English <i class="fa fa-angle-down"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                </li>       
            </ul>
          </div> 
    </div> 
</nav>
</header> 
    <script src="../bundle.js"></script>
</body>
</html>